body {
    margin: 0;
    padding: 0;

}

html {
    font-size: 16px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 430px;
    height: 500px;
    background-color: rgb(32, 31, 31);
    display: flex;
    flex-direction: column;
}

.input {
    font-size: 50px;
    text-align: right;
    padding: 10px;
    background-color: #fff;
    margin: 3px;
    color: black;
}

.clear {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.clear>button {
    width: 50%;
    font-size: 25px;
    padding: 15px;
    background-color: rgb(197, 74, 74);
    font-weight: 700;
    margin:0px 2px;

}
.clear>button:hover{
    cursor: pointer;
}
.calculator-keys {
    display: flex;
    flex-direction: row;
    margin: 6px;

}

.calculator-keys>div {
    display: flex;
    flex-wrap: wrap;
}

.numbers {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.numbers>div {
    display: flex;
    flex-direction: row;

}

.number,.equals,.decimal {
    width: 33%;
    height: 80px;
    font-size: 25px;
    font-weight: 500;
    margin: 2px;
}

.number:hover ,.equals:hover,.decimal:hover {
    background-color: lightgray;
    cursor: pointer;
}

.operators {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.operator {
    width: 100%;
    height: 80px;
    margin: 2px;
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(202, 171, 93);
}
.operator:hover {
    background-color: rgb(175, 148, 82);;
    cursor: pointer;
}